<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section id="header">
        <img src="/static/images/logo.png" id='logo'alt="Logo">
        <h3>Restaurant Reservation System</h3>
        <a href="add-restaurant"><button  id="signup">Add your restaurant</button></a>
        <img id='main'src="static/images/main.png" >
        <h1 id="image-text">The Restaurant details are added.<br><br><a style="color: white;"  href="/">Back to home</a></h1>
     </section>
    
     
     <section id="footer" style="top:90%">
        <hr><br>
        <h3>We aim to provide a wait-less service.</h3><br>
        <hr>
         <a href="about-us">About us</a>
         <a href="contact-us">Contact us</a>
         
         <p>All rights received.</p>
     </section>
    <script>
    </script>
</body>
</html>